<footer>
  <section class="footer-header">
    <div class="footer-header-content">
      <h4>SIMA Consultancy</h4>
      <p>a brief description of sima in the footer header</p>
    </div>
    <div class="footer-header-content">
      <h4>Let's get Social</h4>
      <ul>
        <li>facebook</li>
        <li>twitter</li>
        <li>linkedIn</li>
        <li>email</li>
      </ul>
    </div>
    <div class="footer-header-content">
      <h4>Our Services</h4>
      <ul>
        <li>About</li>
        <li>Clients</li>
        <li>Location</li>
      </ul>
    </div>
    <div class="footer-header-content">
      <h4>FAQ</h4>
    </div>
  </section>
  <section class="footer-section">
    <p>&copy; year DevSteve</p>
    <p>
      <a href="#">Contact</a>
    </p>
  </section>
</footer>
