{% extends "web_layout.html" %}

{% block title %}
  Sima Home page
{% endblock %}

{% block body %}
  <section class="row">
    <div class="section-image">
      <img src="" alt="section image here">
    </div>
    <div class="">
      <p><svg width="72" height="72">
        <rect width="70" height="70" x="0" y="0" fill="#630016"/>
        <text fill="#ffffff" font-size="60" font-family="Verdana" font-weight="bold" x="15" y="60">S</text>
      </svg>ima Consultancy is one of the leading law firms in Ghana.</p>
    </div>
  </section>
  <section class="row">
    <div class="topic">
      <h4>Our expectise</h4>
      <h2>Practice main</h2>
    </div>
  </section>
  <section class="row">
    <h3>Who are we?</h3>
    <article id="MD-message">
      <h3>Hi I'm MD</h3>
    </article>
  </section>
{% endblock %}
