{% macro nav_link(endpoint, text) %}
{% if request.endpoint.endswith(endpoint) %}
    <li class="active"><a href="{{url_for(endpoint) }}">{{ text }}</a></li>
{% else %}
    <li><a href="{{ url_for(endpoint) }}">{{ text }}</a></li>
{% endif %}
{% endmacro %}

{% macro dropdown_nav(endpoint, text) %}
{% if request.endpoint.endswith(endpoint) %}
    <a class="active" href="{{url_for(endpoint) }}">{{ text }}</a>
{% else %}
    <a href="{{ url_for(endpoint) }}">{{ text }}</a>
{% endif %}
{% endmacro %}


{% macro page_button(endpoint, label, class_name) %}
    <button type="button" class="{{class_name}}">{{ label }}</button>
{% endmacro %}
